################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Shopping/bin/Debug/net6.0
/Shopping/obj
